.rick-and-morty-app {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    padding: 20px;
    gap:15px;
  }
  select{
    padding: 20px;
    border-radius: 4px;
  }
  
  .character-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .character-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
  }
.character-card::hov{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}
  
  .character-card img {
    max-width: 100%;
  }
  
  .character-details {
    border: 1px solid #ccc;
    padding: 20px;
  }
  .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page-info{
    text-align: center;
  }